<!DOCTYPE html>
<html lang="en">
<head>
   
</head>
<body>
    <div id="nav">
                <a routerLink="customerlist"  class="link1">Customer List </a>
                <br>
                <a routerLink="customeraccount"  class="link1">Create a customer account </a>
                <br>
                <a routerLink="transactionreport"  class="link1">Transation Report </a>
                <br>
                <a routerLink="pendingservicerequest"  class="link1">Pending service request </a>
                <br>
        <br class="clear" />
    </div>
    <div  id="txt" align="center">
        <router-outlet></router-outlet>
    </div>

    
</body>
</html>
