<!DOCTYPE html>
<html lang="en">
<head>
   
</head>
<body>
    <div id="nav">
        <a routerLink="viewaccountdetail"  class="link1">View Account Detail </a>
                <br>
                <a routerLink="addmoney"  class="link1">Add Money to your account </a>
                <br>
                <a routerLink="transfermoney"  class="link1">Transaction </a>
                <br>
                <a routerLink="updatedetail"  class="link1">Update Personal detail</a>
                <br>
                <a routerLink="requestforservice"  class="link1">Request for service </a>
                <br>
                <a routerLink="requestforservice"  class="link1">Service Request Status</a>
                <br>
        <br class="clear" />
    </div>
    <div  id="txt" align="center">
        <router-outlet></router-outlet>
    </div>

    
</body>
</html>
